In [1]:
# %%writefile factor_101.py

import sys
import os 


import QUANTAXIS as QA
from QUANTAXIS.QAAnalysis.QAAnalysis_finance import QAAnalysis_finance
from QUANTAXIS.QASetting.QALocalize import analysis_path
from factorBase import FactorBase
from factorClickhouse import FactorCKClient

from qaenv import (clickhouse_ip, clickhouse_password, clickhouse_port,
                   clickhouse_user)


from ind.Alpha101 import *

from tools import Sample_Tools as smpl
from tools import QAAdapter as qaadapter
# from tools import QAAdapter as qaadapter
# from tools import QA_adapter_get_code_from_block


class alpha101_1(FactorBase):

    # def finit(self):

    #   self.clientr = FactorCKClient(clickhouse_ip, clickhouse_port, user=clickhouse_user, password=clickhouse_password)
    #   self.factor_name = 'alpha101_1'

    def calc(self, data) -> pd.DataFrame:
        """

        the example is just a day datasource, u can use the min data to generate a day-frequence factor

        the factor should be in day frequence 
        """


        cur_ret = smpl.get_current_return(data,'close')
        prices = data.data['close']

        factor = pd.DataFrame(alpha1(prices, cur_ret))
        factor = factor.replace([-np.inf, np.inf], 0).fillna(value=0)
        factor.columns = ['factor']

        return factor.reset_index().dropna()

jqdatasdk not installed
you are using non-interactive mdoel quantaxis

In [2]:
from qaenv import (clickhouse_ip, clickhouse_password, clickhouse_port,
                   clickhouse_user)

from base.Constants import trade_date_sse
gap = 90
end = '2011-07-21'
start = trade_date_sse[trade_date_sse.index(end)-gap]
stock_list  = qaadapter.QA_adapter_get_code_from_block('sw_l1', '国防军工')

data = QA.QA_fetch_stock_day_adv(stock_list, start, end)
# print(smpl.get_stock_name(stock_list), len(stock_list))


factor_base = alpha101_1("alpha101_1", host=clickhouse_ip, port=clickhouse_port, user=clickhouse_user, password=clickhouse_password)
factor_base.update_to_database(data)

['alpha101_1', 'alpha101_10', 'alpha101_100', 'alpha101_11', 'alpha101_12', 'alpha101_13', 'alpha101_14', 'alpha101_15', 'alpha101_16', 'alpha101_17', 'alpha101_18', 'alpha101_19', 'alpha101_2', 'alpha101_20', 'alpha101_21', 'alpha101_22', 'alpha101_23', 'alpha101_24', 'alpha101_25', 'alpha101_26', 'alpha101_27', 'alpha101_28', 'alpha101_29', 'alpha101_3', 'alpha101_30', 'alpha101_31', 'alpha101_32', 'alpha101_33', 'alpha101_34', 'alpha101_35', 'alpha101_36', 'alpha101_37', 'alpha101_38', 'alpha101_39', 'alpha101_4', 'alpha101_40', 'alpha101_41', 'alpha101_42', 'alpha101_43', 'alpha101_44', 'alpha101_45', 'alpha101_46', 'alpha101_47', 'alpha101_48', 'alpha101_49', 'alpha101_5', 'alpha101_50', 'alpha101_51', 'alpha101_52', 'alpha101_53', 'alpha101_54', 'alpha101_55', 'alpha101_56', 'alpha101_57', 'alpha101_58', 'alpha101_59', 'alpha101_6', 'alpha101_60', 'alpha101_61', 'alpha101_62', 'alpha101_63', 'alpha101_64', 'alpha101_65', 'alpha101_66', 'alpha101_67', 'alpha101_68', 'alpha101_69', 'alpha101_7', 'alpha101_70', 'alpha101_71', 'alpha101_72', 'alpha101_73', 'alpha101_74', 'alpha101_75', 'alpha101_76', 'alpha101_77', 'alpha101_78', 'alpha101_79', 'alpha101_8', 'alpha101_80', 'alpha101_81', 'alpha101_82', 'alpha101_83', 'alpha101_84', 'alpha101_85', 'alpha101_86', 'alpha101_87', 'alpha101_88', 'alpha101_89', 'alpha101_9', 'alpha101_90', 'alpha101_91', 'alpha101_92', 'alpha101_93', 'alpha101_94', 'alpha101_95', 'alpha101_96', 'alpha101_97', 'alpha101_98', 'alpha101_99', 'factormetadata']

In [25]:
factor_base.fetch_data()

                   alpha101_1
date       code
2011-03-11 000519    0.000000
           000547    0.000000
           000561    0.000000
           000576    0.000000
           000733   -0.389591
...                       ...
2023-07-21 603261   -0.242188
           603267    0.500000
           603678   -0.120370
           603712    0.031412
           605123   -0.148649

[10896 rows x 1 columns]

In [40]:
from clickhouse_driver import Client
import clickhouse_driver

import QUANTAXIS as QA
import pandas as pd
port = 9001
host = 'localhost'
user = 'admin'
password = 'admin'
database = 'test'

#  database=database
client = clickhouse_driver.Client(host=host, port=port, user=user, database=database, password=password,
                                               settings={
                                                   'insert_block_size': 100000000},
                                               compression=True)
# 创建 ClickHouse 客户端连接

client.execute('CREATE DATABASE IF NOT EXISTS test')

# 创建表
client.execute('CREATE TABLE IF NOT EXISTS `test_table` (id Int, name String,  age Float32) ENGINE = ReplacingMergeTree() ORDER BY id')

# 插入数据
client.execute('INSERT INTO test_table VALUES', [(1, 'John', 10), (2, 'Alice', 11), (3, 'Bob', 12)])

# 执行查询并获取结果
result = client.execute('SELECT * FROM test_table')

# 打印查询结果
for row in result:
    print(row)

# 更新数据
# client.execute('ALTER TABLE test_table UPDATE name = "HELLO" WHERE id = 2')
# client.execute('ALTER TABLE test_table UPDATE name = \'HELLO\' WHERE id = 2')

client.execute('OPTIMIZE TABLE test_table FINAL')

(1, 'John', 10.0)
(2, 'Alice', 11.0)
(3, 'Bob', 12.0)
(1, 'John', 10.0)
(2, 'Alice', 11.0)
(3, 'Bob', 12.0)
(1, 'John', 10.0)
(2, 'Alice', 11.0)
(3, 'Bob', 12.0)
(1, 'John', 10.0)
(2, 'Alice', 11.0)
(3, 'Bob', 12.0)

[]

In [16]:
result = client.execute('SELECT * FROM test_table')

# 打印查询结果
for row in result:
    print(row)

(1, 'John')
(2, 'HELLO')
(3, 'Bob')
(1, 'John')
(2, 'HELLO')
(3, 'Bob')
(1, 'John')
(2, 'HELLO')
(3, 'Bob')