In [23]:
import sys
import os 


print(sys.path)


import QUANTAXIS as QA
from QUANTAXIS.QAAnalysis.QAAnalysis_finance import QAAnalysis_finance
from QUANTAXIS.QASetting.QALocalize import analysis_path
from tools import Sample_Tools as smpl
from tools import QAAdapter as qaadapter
# from tools import QAAdapter as qaadapter
# from tools import QA_adapter_get_code_from_block
from base.Constants import trade_date_sse

block_name = '通信设备'
block_name = '旅游景点'
block_name = '影视音像'
block_name = '电器仪表'
block_name = '软件服务'

gap = 90
end = '2023-06-21'
start = trade_date_sse[trade_date_sse.index(end)-gap]

# a  = qaadapter.QA_adapter_get_code_from_block('sw_l2', '水泥')
stock_list  = qaadapter.QA_adapter_get_code_from_block('sw_l1', '国防军工')

print(smpl.get_stock_name(stock_list), len(stock_list))

from ind.Alpha101 import *

data = QA.QA_fetch_stock_day_adv(stock_list, start, end)
# data.data.index = data.data.index.map(lambda x: (x[0].tz_localize('UTC'), x[1]))
# data.data.index.names = ['tz', 'code']
cur_ret = smpl.get_current_return(data,'close')
prices = data.data['close']

factor = alpha1(prices, cur_ret)
factor = factor.replace([-np.inf, np.inf], 0).fillna(value=0)

prices = prices.unstack()

# formater = '%Y%m%d' # '%Y%m%d %H%M%S'
# index_ = [pd.to_datetime(x).strftime(formater) for x in inds_.index.values]
# factor = alpha9(price)
print(factor.tail(10))
print(prices.tail(10))

['/home/disk1/quantaxis/kaikai/IndicatorLab', '/home/work_space/IndicatorLab/factor_data', '/usr/lib/python38.zip', '/usr/lib/python3.8', '/usr/lib/python3.8/lib-dynload', '', '/opt/quant/lib/python3.8/site-packages', '/home/disk1/data_framework/pytdx', '/home/disk1/data_framework/akshare', '/home/disk1/data_framework/efinance', '/home/work_space/QUANTAXIS_Learning', '/home/disk1/quanttopian/alphalens', '/home/disk1/quanttopian/empyrical', '/home/disk1/quanttopian/pyfolio', '/home/disk1/quantaxis/kaikai', '/home/disk1/quantaxis/kaikai/IndicatorLab', '/home/work_space/IndicatorLab/tools/', '/home/work_space/IndicatorLab/tools/', '/home/work_space/IndicatorLab/', '/home/work_space/IndicatorLab/tools/', '/home/work_space/IndicatorLab/tools/']
code
000519     中兵红箭
000547     航天发展
000561     烽火电子
000576     甘化科工
000697    *ST炼石
          ...
603261     立航科技
603267     鸿远电子
603678     火炬电子
603712      七一二
605123     派克新材
Name: name, Length: 61, dtype: object 61
date        code
2023-06-21  600990   -0.379756
            601606   -0.157200
            601698    0.397506
            601890    0.208083
            601989    0.033224
            603261    0.397506
            603267    0.397506
            603678    0.208083
            603712    0.033224
            605123   -0.157200
Name: close, dtype: float64
code           000519     000547     000561     000576    000697     000733  \
date
2023-06-08   0.010275   0.010274   0.010384   0.010540  0.010640   0.010549
2023-06-09   0.014245   9.630000   0.014261  10.440000  6.360000  83.470000
2023-06-12  17.560000   0.012101   9.870000  10.800000  0.014259   0.015041
2023-06-13  17.610000   9.680000  10.170000  10.920000  6.310000  82.010000
2023-06-14   0.013190   0.013162  10.180000  10.920000  6.420000   0.013198
2023-06-15  17.730000   0.011994  10.400000   0.014649  0.014680  84.300000
2023-06-16  17.920000   9.830000  10.690000  10.630000  6.400000  87.030000
2023-06-19   0.014264   9.850000  11.110000  10.660000  6.430000   0.016919
2023-06-20  18.090000  10.000000   0.013595   0.013739  6.560000  92.650000
2023-06-21   0.033365   0.034198  11.030000   0.036051  0.036695   0.037582

code           000738     000768     001270    002023  ...     600990  \
date                                                   ...
2023-06-08   0.010408   0.010153   0.010250  0.010223  ...   0.009909
2023-06-09  22.500000  23.720000   0.016338  0.015743  ...  30.360000
2023-06-12   0.015059   0.015542   0.016108  8.670000  ...  30.520000
2023-06-13   0.017278   0.016175   0.015733  8.710000  ...  30.680000
2023-06-14   0.012654   0.012961  77.560000  0.015836  ...   0.016949
2023-06-15  22.870000  23.460000   0.017486  8.680000  ...   0.013374
2023-06-16  23.120000  23.760000  82.780000  9.060000  ...  31.190000
2023-06-19  23.360000  23.760000  83.830000  9.230000  ...  31.860000
2023-06-20  23.810000  24.080000  86.720000  9.380000  ...  32.080000
2023-06-21   0.038141   0.038662   0.039483  0.039802  ...   0.017359

code           601606     601698     601890    601989     603261     603267  \
date
2023-06-08   0.010068   0.010318  10.290000  4.550000   0.011361   0.012820
2023-06-09  13.190000  17.690000   0.014638  0.014959  32.150000   0.014581
2023-06-12   0.015426   0.015587  10.380000  0.015722  32.470000  54.790000
2023-06-13  13.170000  17.950000   0.009730  4.490000  32.880000   0.009598
2023-06-14   0.017196  17.960000  10.310000  0.009762   0.009552   0.009658
2023-06-15   0.013545   0.014837   0.014967  0.014800   0.014784  54.950000
2023-06-16  13.190000  18.290000  10.720000  4.580000  32.700000  56.030000
2023-06-19  13.260000  18.800000  10.720000  4.700000  32.960000  56.860000
2023-06-20  13.550000  18.840000  11.150000  4.860000  33.620000  62.550000
2023-06-21   0.017371  19.550000   0.016907  0.017436  33.720000  64.580000

code           603678     603712      605123
date
2023-06-08   0.013117   0.015519    0.013923
2023-06-09   0.014913   0.015952   98.480000
2023-06-12  31.220000   0.016669    0.017840
2023-06-13   0.011061   0.013379    0.013290
2023-06-14   0.009952   0.011418    0.011458
2023-06-15  30.530000  27.190000   97.080000
2023-06-16  30.570000  27.470000   98.660000
2023-06-19  31.460000   0.013283    0.014180
2023-06-20  34.610000  29.180000  104.180000
2023-06-21   0.020058   0.018540    0.018447

[10 rows x 61 columns]

In [ ]:

from tools.factorBase import FactorBase

factor_base = FactorBase("alpha101_1", host=clickhouse_ip, port=clickhouse_port, user=clickhouse_user, password=clickhouse_password):

In [ ]:
from clickhouse_driver import Client
import clickhouse_driver

import QUANTAXIS as QA
import pandas as pd
port = 9001
host = 'localhost'
user = 'admin'
password = 'admin'
database = 'test'

#  database=database
client = clickhouse_driver.Client(host=host, port=port, user=user, database=database, password=password,
                                               settings={
                                                   'insert_block_size': 100000000},
                                               compression=True)
# 创建 ClickHouse 客户端连接

client.execute('CREATE DATABASE IF NOT EXISTS test')

# 创建表
client.execute('CREATE TABLE IF NOT EXISTS test_table (id Int, name String) ENGINE = MergeTree() ORDER BY id')

# 插入数据
client.execute('INSERT INTO test_table (id, name) VALUES', [(1, 'John'), (2, 'Alice'), (3, 'Bob')])

# 执行查询并获取结果
result = client.execute('SELECT * FROM test_table')

# 打印查询结果
for row in result:
    print(row)

# 更新数据
# client.execute('ALTER TABLE test_table UPDATE name = "HELLO" WHERE id = 2')
client.execute('ALTER TABLE test_table UPDATE name = \'HELLO\' WHERE id = 2')


# change = 'ALTER TABLE test_table MODIFY COLUMN id Int32;\
# \
# DELETE FROM test_table\
# WHERE id IN (\
#     SELECT id\
#     FROM (\
#         SELECT id, ROW_NUMBER() OVER(PARTITION BY id ORDER BY id) AS row_num\
#         FROM test_table\
#     ) AS subquery\
#     WHERE row_num > 1\
# );'

# client.execute(change)

change = 'ALTER TABLE test_table MODIFY COLUMN id Int32;\
\
DELETE FROM test_table\
WHERE id IN (\
    SELECT id\
    FROM (\
        SELECT id, ROW_NUMBER() OVER(PARTITION BY id ORDER BY id) AS row_num\
        FROM test_table\
    ) AS subquery\
    WHERE row_num > 1\
);'

client.execute(change)

# # client.execute("INSERT INTO test_table (id, name) VALUES (2, 'Mike')" )
result = client.execute('SELECT * FROM test_table')

# 打印查询结果
for row in result:
    print(row)
# # 删除数据
# client.execute('DELETE FROM test_table WHERE id = 3')

# 删除表
# client.execute('DROP TABLE IF EXISTS test_table')